table.listsearch .position {
	font-family: Wingdings;
}
table.listsearch .par { background-color: #DDDBCE; }
table.listsearch .impar { background-color: #EDEBDE; }
table.listsearch #error { background-color: #FFCCCC; }
table.listsearch th, table.listsearch td {
	padding-right: 2px;
	padding-left: 2px;
	font-weight: normal;
	border-right: 1px solid #445D86;
	border-left: 1px solid #A4BDF6;
	white-space: nowrap;
}
table.listsearch td {
	border-right: 1px solid #ACA899;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #ACA899;
}
table.listsearch input.checkbox {
	margin: -3px;
}
table.listsearch tfoot td {
	border: none;
	padding:0;
}